body {
  height: 100%;
}

body {
  font-family: "Montserrat";
  margin: 0;
}

body #bg {
  background-image: url("https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  max-width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  position: absolute;
  z-index: -1;
}

@media (min-width: 960px) {
  body #bg {
    width: 100%;
  }
}

body .logo {
  margin: 15px;
  text-transform: uppercase;
  font-size: 4em;
  padding: 15px;
}

body header {
  color: #fff;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-transform: uppercase;
}

body header a {
  text-transform: uppercase;
  font-size: 2em;
  color: white;
  margin-bottom: 20px;
}

@media (min-width: 960px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background: #fff;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
  opacity: 0.95;

}

@media (min-width: 960px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
  }
}

main section#card ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main section#card ul li {
  margin-bottom: 10px;
}

main section#card ul li span {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #ccdfff;
  border-radius: 50%;
  margin-right: 10px;
  opacity: 0.95;
}

main section#card ul li strong {
  display: inline-block;
  margin-left: 40px;
  margin-top: 10px;
}

main section#row {
  background: #fff;
  padding: 20px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 80%;
  display: inline-flex;
  opacity: 0.95;

}

main section#primary {
  color: #fff;
  padding: 15px;
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff6bb;
  display: block;
  text-align: center;
  margin: 50px auto 0 auto;
  opacity: 0.95;
  
}

@media (min-width: 960px) {
  main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

main section#primary h1 {
  font-size: 2em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 960px) {
  main section#primary h1 {
    width: 30%;
    font-size: 2.5em;
    line-height: 0.9em;
  }
}

main section#primary p {
  font-size: 1.4em;
}

main section#primary a {
  color: #001333;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #fff6bb;
  display: block;
  text-align: center;
  margin: 30px auto 0 auto;
  padding: 15px;
  opacity: 0.95;
}

@media (min-width: 960px) {
  main section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}
/*# sourceMappingURL=style.css.map */